.avatar {
  border: none;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  text-align: center;
  &.avatar-sm {
    width: $avatar-sm-width;
    height: $avatar-sm-height;
    margin: $avatar-sm-padding-y $avatar-sm-padding-x;
  }
  &.avatar-md {
    width: $avatar-width;
    height: $avatar-height;
  }
}

.avatar-img {
  font-size: $font-size-sm;
  width: auto;
  height: 100%;
}
