// fluent design language grays
$white: #fff;
$gray-10: #faf9f8;
$gray-20: #f3f2f1;
$gray-30: #edebe9;
$gray-40: #e1dfdd;
$gray-50: #d2d0ce;
$gray-60: #c8c6c4;
$gray-90: #a19f9d;
$gray-130: #605e5c;
$gray-150: #3b3a39;
$gray-160: #323130;
$gray-190: #201f1e;

$grays: (
  "10": $gray-10,
  "20": $gray-20,
  "30": $gray-30,
  "40": $gray-40,
  "50": $gray-50,
  "60": $gray-60,
  "90": $gray-90,
  "130": $gray-130,
  "150": $gray-150,
  "160": $gray-160,
  "190": $gray-190,
);

$blue: #0078d4;
$red: #a4262c;
$red-sec: #f58791; // used with opacity 20
$orange: #d83b01;
$orange-sec: #fa4100; // used with opacity 20
$green: #107c10;
$green-sec: #5fd255; // used with opacity 20
$yellow: #ffc80a; // used with opacity 20

$colors: (
  "blue": $blue,
  "red": $red,
  "red-sec": $red-sec,
  "orange": $orange,
  "orange-sec": $orange-sec,
  "green": $green,
  "green-sec": $green-sec,
  "yellow": $yellow,
);

$primary: $blue;
$secondary: $gray-160;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: $gray-30;
$dark: #005a9e;
$theme-divider: #004578;
$body-divider: #edebe9;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$font-family-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$body-bg: $light;
$body-color: $gray-160;
$browser-context: 14px;

$font-size-lg: rem(16px);
$font-size-sm: rem(12px);

$btn-font-weight: 500;
$input-btn-padding-y: rem(4.5px);
$input-btn-padding-x: rem(20px);

$input-color: $body-color;
$input-border-color: #8a8886;
$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;
$input-padding-x: rem(8px);
$input-disabled-bg: $gray-30;
$input-focus-border-color: $primary;
$input-focus-border-width: 1px;
$input-transition: none;

$icon-x: rem(20px);
$icon-y: rem(20px);
$avatar-sm-width: rem(28px);
$avatar-sm-height: rem(28px);
$avatar-sm-padding-y: rem(2px);
$avatar-sm-padding-x: rem(7px);
$avatar-width: rem(40px);
$avatar-height: rem(40px);

