// fluent design language grays
$white: #fff;
$gray-10: #faf9f8;
$gray-20: #f3f2f1;
$gray-30: #edebe9;
$gray-40: #e1dfdd;
$gray-50: #d2d0ce;
$gray-60: #c8c6c4;
$gray-90: #a19f9d;
$gray-130: #605e5c;
$gray-150: #3b3a39;
$gray-160: #323130;
$gray-190: #201f1e;

$grays: (
  "10": $gray-10,
  "20": $gray-20,
  "30": $gray-30,
  "40": $gray-40,
  "50": $gray-50,
  "60": $gray-60,
  "90": $gray-90,
  "130": $gray-130,
  "150": $gray-150,
  "160": $gray-160,
  "190": $gray-190,
);

$blue: #0078d4;
$red: #a4262c;
$red-sec: #f58791; // used with opacity 20
$orange: #d83b01;
$orange-sec: #fa4100; // used with opacity 20
$green: #107c10;
$green-sec: #5fd255; // used with opacity 20
$yellow: #ffc80a; // used with opacity 20

$colors: (
  "blue": $blue,
  "red": $red,
  "red-sec": $red-sec,
  "orange": $orange,
  "orange-sec": $orange-sec,
  "green": $green,
  "green-sec": $green-sec,
  "yellow": $yellow,
);

$primary: $blue;
$secondary: $gray-160;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: $gray-30;
$dark: $gray-150;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$font-family-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
