// fluent design language grays
$white: #fff;
$gray-10: #faf9f8;
$gray-20: #f3f2f1;
$gray-30: #edebe9;
$gray-40: #e1dfdd;
$gray-50: #d2d0ce;
$gray-60: #c8c6c4;
$gray-90: #a19f9d;
$gray-130: #605e5c;
$gray-150: #3b3a39;
$gray-160: #323130;
$gray-190: #201f1e;

$grays: (
  "10": $gray-10,
  "20": $gray-20,
  "30": $gray-30,
  "40": $gray-40,
  "50": $gray-50,
  "60": $gray-60,
  "90": $gray-90,
  "130": $gray-130,
  "150": $gray-150,
  "160": $gray-160,
  "190": $gray-190,
);

$blue: #0078d4;
$red: #a4262c;
$red-sec: #f58791; // used with opacity 20
$orange: #d83b01;
$orange-sec: #fa4100; // used with opacity 20
$green: #107c10;
$green-sec: #5fd255; // used with opacity 20
$yellow: #ffc80a; // used with opacity 20

$colors: (
  "blue": $blue,
  "red": $red,
  "red-sec": $red-sec,
  "orange": $orange,
  "orange-sec": $orange-sec,
  "green": $green,
  "green-sec": $green-sec,
  "yellow": $yellow,
);

$primary: $blue;
$secondary: $gray-160;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: $gray-20;
$dark: #005a9e;
$theme-light: #c7e0f4;
$theme-divider: #004578;
$body-divider: $gray-30;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$font-family-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$body-bg: $gray-30;
$body-color: $gray-160;
$browser-context: 14px;
$rfs-rem-value: $browser-context / 1px; // make it unitless

$font-size-lg: rem(16px);
$font-size-sm: rem(12px);

$btn-font-weight: 500;
$input-btn-padding-y: rem(4.5px);
$input-btn-padding-x: rem(20px);

$input-color: $body-color;
$input-border-color: #8a8886;
$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;
$input-padding-x: rem(8px);
$input-disabled-bg: $gray-30;
$input-focus-border-color: $primary;
$input-focus-border-width: 1px;
$input-transition: none;

$icon-x: rem(20px);
$icon-y: rem(20px);
$icon-color: #797775;
$navbar-input-padding-x: rem(12px);
$nav-btn-padding-x: rem(10px);
$navbar-avatar-btn-padding-x: rem(7px);
$navbar-avatar-btn-padding-y: rem(2px);
$avatar-sm-width: rem(28px);
$avatar-sm-height: rem(28px);
$avatar-md-width: rem(40px);
$avatar-md-height: rem(40px);

$dropdown-padding-y: 0;
$dropdown-item-padding-y: rem(8px);
$dropdown-item-padding-x: rem(12px);
$dropdown-min-width: rem(160px);
$dropdown-box-shadow: 0px 3.2px 7.2px rgba(0, 0, 0, 0.13),
  0px 0.6px 1.8px rgba(0, 0, 0, 0.1);
$dropdown-link-color: $gray-190;
$dropdown-link-hover-color: $gray-160;
$dropdown-link-hover-bg: $gray-20;
$dropdown-link-active-color: $gray-160;
$dropdown-link-active-bg: $gray-30;
$dropdown-link-disabled-color: $gray-90;
$dropdown-link-focus-border: $gray-160;
$dropdown-spacer: rem(3px);
$card-spacer-y: rem(24px);
$card-spacer-x: rem(18px);
$card-item-padding-y: rem(8px);
$card-padding-y: rem(24px);
$card-padding-x: rem(18px);
$ask-border-weight: rem(4px);

$small-font-size: rem(12px);
$text-muted: $gray-130;
$soft-box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.13),
  0px 0.3px 0.9px rgba(0, 0, 0, 0.1);
$hard-box-shadow: 0px 25.6px 57.6px rgba(0, 0, 0, 0.22),
  0px 4.8px 14.4px rgba(0, 0, 0, 0.18);
$answer-line-height: 1.8;
$answer-cta-padding-y: rem(8px);

$enable-shadows: true;

// for stroke-dasharray rule
$spinner-circle-circumstance: 2 * (22 / 7) * 24;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
);

// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
);

$footer-height: 60px;
