.page-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: $footer-height;
  > .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.copyrights {
  margin: 0;
  a {
    color: $secondary;
    font-weight: 500;
  }
}
