.question-form {
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px 18px 0;
  background: $white;
  @include border-radius($border-radius);
  @include box-shadow($soft-box-shadow);
  position: relative;
  z-index: 21;

  .group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  textarea {
    border: none;
    padding-left: 12px;
    padding-top: 10px;
    width: 100%;
    resize: none;
    &:focus {
      outline: 0;
    }
  }
  .btn {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    &:nth-of-type(2) {
      color: $secondary;
    }
    &:first-of-type {
      margin-left: -18px;
    }
  }
}

.question-form.focus {
  @include box-shadow($hard-box-shadow);
}

.q-form-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  background: rgba(black, 0.3);
  pointer-events: none;
}
