.spinner-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  svg {
    width: 100px;
    height: 100px;
  }
}

.spinner-sm {
  svg {
    width: 50px;
    height: 50px;
  }
}

.spinner-circle,
.spinner-semi-circle {
  fill: none;
  stroke-width: 4;
}

.spinner-circle {
  stroke: $theme-light;
}

.spinner-semi-circle {
  stroke: $primary;

  // see: https://codepen.io/ahmedhrayyan/pen/GLBELM
  stroke-dasharray: $spinner-circle-circumstance;
  stroke-dashoffset: $spinner-circle-circumstance * 0.7;
  transform-origin: 50% 50%;
  animation-name: spinner-keyframe;
  animation-timing-function: linear;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}

@keyframes spinner-keyframe {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
