### THIS IS AN EXAMPLE OF THE REQUIRED CONFIGURATION ###


# DATABASE
SQLALCHEMY_TRACK_MODIFICATIONS = False
SQLALCHEMY_DATABASE_URI = TEST

# SECURITY
SECRET_KEY = TEST
EMAIL_PATTERN="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$"
PHONE_PATTERN="^\+(?:[0-9]){6,14}[0-9]$"

# UPLOADS
UPLOAD_FOLDER = TEST
ALLOWED_EXTENSIONS = []
MAX_CONTENT_LENGTH = SIZE
